/*--------------------------------------------------------------
# floating side nav buttons for categories(label) , search settings ....
--------------------------------------------------------------*/

.floatButtons > a {
    position: fixed;
    left: -100px;
    transition: 0.3s;
    padding: 15px;
    z-index: 6;
    width: 150px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 0 5px 5px 0;
    }
    
    div.floatButtons > a:hover {
    left: 0;
    transition: 0.6s;
    }
    
    .animated1 {
    top: 29%;
    background-color:#F4D03F;
    border: 1px solid #444444;
    border-radius: 5px;
    }
    
    .animated2 {
    top: 40%;
    background-color: #444444;
    border: 1px solid #F4D03F;
    border-radius: 5px;
    }
    
    .animated3 {
    top: 51%;
    background-color: #F4D03F;
    border: 1px solid #444444;
    border-radius: 5px;
    }
    .animated4 {
        top: 63%;
        background-color: #444444;
        border: 1px solid #F4D03F;
        border-radius: 5px;
        }
    
    
    .animated1 {
    animation: right-left 1.3s ease-in-out infinite alternate-reverse both;
    }
    .animated3 {
    animation: right-left 0.7s ease-in-out infinite alternate-reverse both;
    }
    .animated2 {
    animation: right-left 1s ease-in-out infinite alternate-reverse both;
    }
    .animated4 {
        animation: right-left 1.6s ease-in-out infinite alternate-reverse both;
    }
    
    @-webkit-keyframes right-left {
    0% {
    transform: translateX(10px);
    }
    100% {
    transform: translateX(-10px);
    }
    }
    
    @keyframes right-left {
    0% {
    transform: translateX(10px);
    }
    100% {
    transform: translateX(-10px);
    }
    }